<tpl>
<style>
.layui-card-header.m{font-weight:bold;color:#aaa;}
</style>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header m">版本信息</div>
                <div class="layui-card-body">
                    <table class="layui-table layui-text">
                        <colgroup><col width="90"><col></colgroup>
                        <tbody>
                        <tr><td>软件版本</td><td>Veitool-v{{ layui.cache.version }}&emsp;<a href="https://www.veitool.com/download" target="_black">更新日志</a></td></tr>
                        <tr><td>基础框架</td><td>ThinkPHP-v{:\\think\\App::VERSION} + Layui-v{{ layui.v }}</td></tr>
                        <tr><td>开发官方</td><td><a href="https://seo.yanyv.cc" target="_black">https://seo.yanyv.cc</a></td></tr>
                        <tr><td>开源地址</td><td><a href="https://github.com/imgjx/yanyv-seo" target="_black">https://github.com/imgjx/yanyv-seo</a></td></tr>
                        <tr><td>服务系统</td><td>{:PHP_OS}</td></tr>
                        <tr><td>服务环境</td><td>{:PHP_SAPI}</td></tr>
                        <tr><td>PHP版本</td><td>{:PHP_VERSION}</td></tr>
                        <tr><td>蜘蛛池版本</td><td>预发布测试，请勿外传！</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>